/*MEDIUM*/
@media only screen and (max-width: 1240px) {
    /*body {*/
        /*min-width: 1240px;*/
        /*overflow: scroll;*/
    /*}*/
    header .topbar.container {
        width: 100%;
        max-width: 941px;
        overflow: hidden;
    }

    header .topbar img {
        left: 30px;
    }

    #description .container {
        max-width: 945px;
        bottom: 73px;
    }

    #description .container .caption {
        max-width: 809px;
        width: 100%;
        overflow: hidden;
    }

    #description .container .details .icon {
        margin-left: 40px;
    }

    #description .container .details p {
        margin-left: 42px;
        margin-right: 0;
        max-width: 779px;
        width: 100%;
        overflow: hidden;
    }

    #description .container .welcome {
        margin-top: 40px;
        margin-right: 0;
        width: 100%;
    }

    #description .container .welcome p {
        margin-left: 161px;
    }

    #menu .container {
        max-width: 942px;
        width: 100%;
        overflow: hidden;
    }

    #menu .categories {
        width: 213px;
        padding: 30px 10px;
    }

    #menu .categories li {

    }

    #menu .categories li a {

    }

    #menu .categories li.active a::after {

    }

    #menu .table-area {
        max-width: 700px;
        width: 100%;
        margin-left: 20px;
        overflow-x: hidden;
    }

    #menu .table-area td:first-child {
        padding-left: 10px;
    }

    #menu .table-area td:last-child {
        padding-right: 10px;
    }

    #menu .tooltip .tooltip-inner {
        max-width: 700px;
        width: 100%;
        overflow: hidden;
    }

    .page_footer .container {
        width: 100%;
        max-width: 945px;
        overflow: hidden;

    }
}

/*SMALL*/
@media only screen and (max-width: 1020px) {

    header .topbar.container {
        max-width: 736px;
        width: 100%;
        overflow: hidden;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #dbd2bd;

    }

    header .topbar .addresses {
        top: 42px;
        bottom: 42px;
    }

    header .topbar .address:not(:first-child) {
        margin-top: 17px;
    }

    header .topbar img {
        width: 300px;
        height: auto;
        top: 44px;
        bottom: 44px;
    }

    header .topbar .addresses .icon {
        display: none;
    }

    #description .container {
        max-width: 747px;
        bottom: 73px;
        font-family: OpenSans;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        letter-spacing: normal;
        color: #dbd2bd;
    }

    #description .container .caption {
        max-width: 610px;
        width: 100%;
        overflow: hidden;
        margin: 0 41px 32px 30px;
        font-size: 24px;
        line-height: 1.25;
        height: 100%;
    }

    #description .container .welcome p {
        margin-left: 127px;
    }

    #description .container .quotes {
        margin-top: -32px;
    }

    #description .row {
        margin-top: 50px;
    }

    #description .container .details .icon {
        margin-left: 10px;
    }

    #description .container .details p {
        margin-left: 40px;
        width: 611px;
        font-size: 16px;
        line-height: 1.5;
    }

    #menu .container {
        max-width: 736px;
        width: 100%;
        overflow: hidden;
    }

    #menu ul.menus.nav {
        width: 736px;
        height: 56px;
    }

    #menu .menus.nav li {
        width: 243px;
    }

    #menu .categories li a {
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 500;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
    }

    #menu .menus.nav li a {
        font-family: Georgia;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
    }

    #menu .categories li.active a {
        color: #d9caa8;
    }

    #menu .categories {
        width: 173px;
    }

    #menu .table-area {
        max-width: 543px;
        width: 100%;
        overflow-x: hidden;
        margin-left: 15px;
    }

    #menu .table-area .tooltip .tooltip-inner {
        max-width: 543px;
        width: 100%;
    }

    #menu .menu-items {
        font-size: 14px;
    }

    #chalk .container {

    }

    #about h3 {
        font-size: 18px;
    }

    #about .container .col {
        width: 250px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
    }

    .page_footer .container {
        max-width: 736px;
    }
}

@media only screen and (max-width: 900px) {
    body {
        min-width: 1020px;
        overflow: scroll;
    }
    #chalk .container .students {
        display: none;
    }
    #chalk .container .discount {
        right: 0;
        left: auto;

    }
}

/*EXTRA SMALL*/
@media only screen and (max-width: 320px) {
    body {
        min-width: 320px;
        overflow: scroll;
    }
    header .container.topbar {
        max-width: 320px;
        height: 60px;
        position: relative;
        width: 100%;
        overflow: visible;
    }

    header .addresses {
        display: none;
    }

    header .topbar img {
        width: 184px;
        top: 14px;
        bottom: 14px;
        right: 0;
        left: 0;
    }

    header .topbar .socials {
        width: 100%;
        display: inline-block;
        top: 462px;
        text-align: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 36px;
        z-index: 10;
    }

    header .slider-wrap {
        z-index: 1;
    }

    header .mask {
        display: block;
        z-index: 2;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: black;
        opacity: 0.5;
    }

    header .owl-item {

    }

    .nav-menu {
        top: 79px;
        right: 0;
        left: 0;
        width: 183px;
        margin: 0 auto;
        position: absolute !important;
        background: none;
    }

    .nav-menu.affix-top {
        position: absolute !important;
        top: 79px;
        right: 0;
        left: 0;
        width: 183px;
        margin: 0 auto;
    }

    .nav-menu.affix {
        position: absolute !important;
        top: 79px;
        right: 0;
        left: 0;
        width: 183px;
        margin: 0 auto;
        height: 300px;
    }

    .nav-menu ul.nav {
        display: inline;
    }

    .nav-menu ul.nav li {
        display: block;
    }

    .nav-menu ul.nav li.active a {
        color: #ffffff;
    }

    #responcemenu {
        display: block;
        width: 100%;
    }

    #responcemenu nav {
        margin-bottom: 0;
        background: rgba(0, 0, 0, 0.9);

    }

    #responcemenu nav .navbar-brand {
        color: #fbcc04;
    }

    #responcemenu.affix {
        z-index: 35;
        position: fixed;
        top: 0;
    }

    #responcemenu.affix-top {
        position: absolute;
        bottom: 0;
        z-index: 0;

    }

    #description {
        height: 580px;
    }

    #description .container {
        max-width: 320px;
        width: 100%;
        overflow: hidden;
        top: 40px;
        left: 0;
        right: 0;
        margin: 0;
        text-align: center;
    }

    #description .container .caption {
        max-width: 290px;
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;

    }

    #description .container .caption p {
        padding: 0 10px;
    }

    #description .row {
        margin-top: 40px;
    }

    #description .container .details .icon, #description .container .details p {
        margin: 0;
    }

    #description .container .details {
        max-width: 290px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #description .container .details p {
        width: 100%;
        font-size: 18px;
        margin-top: 40px;
    }

    #description .container .owl-dots {
        margin-top: 5px;
    }

    #description .container .welcome {
        display: none;
    }

    #description .container .quotes {
        display: none;
    }

    #menu {
        padding-top: 40px;
        height: 540px;
        position: relative;
        padding-bottom: 0;
    }

    #menu .container {
        height: 100%;
        max-width: 282px;
        width: 100%;
    }

    #menu ul.menus {
        display: none;
    }

    #menu .categories {
        width: 263px;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 172px;
        position: absolute;
        padding: 10px 5px;
    }

    #menu .categories li a {
        line-height: 1.5;
        padding: 4px 10px;
    }

    #menu .table-area {
        display: none;
    }

    #menu .dropdown {
        display: block;
        margin-top: 20px;
        width: 282px;
        height: 56px;
        border-radius: 100px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: #2d1d17;
        padding-top: 28px;
        border: 2px solid #a65b2a;
        border-image-slice: 1;

    }

    #menu .dropdown a {
        text-decoration: none;
        font-family: Georgia;
        margin-top: -0.86em;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #fbcc04;
        display: block;
        width: 100%;
        text-transform: uppercase;
    }

    #menu .dropdown a.dropdown-toggle:after {
        top: 50%;
        right: 20px;
        margin-top: -5px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(251, 204, 4, 0);
        border-top-color: #fbcc04;
        border-width: 10px;
    }

    #menu .dropdown .dropdown-menu {
        margin-top: 5px;
        padding: 15px 0;
        left: 25px;
        right: 25px;
        top: 50px;
        background-image: linear-gradient(to bottom, #69331f, #6e3621);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #menu .dropdown .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        background: none;
    }

    #menu .dropdown .dropdown-menu li + li:before {
        content: "";
        height: 2px;
        width: 80%;
        margin: 0 10%;
        display: inline-block;
        background-color: #974729;
    }

    #menu .dropdown .dropdown-menu li a {
        margin: 13px 0;
    }

    #gallery {
        padding-top: 26px;
    }

    #chalk {
        padding-top: 40px;
        padding-bottom: 0;
        height: 580px;
    }

    #chalk .student {
        display: none;
    }

    #chalk .students {
        display: none;
    }

    #chalk .content .discount {
        top: 60px;
        width: 290px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 34px;
        text-align: center;
    }

    #chalk .content .discount .details {
        margin-right: 0;
    }

    #map {
        height: 580px;
    }

    #about {
        height: 602px;
    }

    #about .container {
        top: 60px;
    }

    #about h3 {
        margin: 0;
    }

    #about .col {
        margin-bottom: 60px;
    }

    .page_footer {
        height: 90px;
        background-repeat: repeat-y;
    }

    .page_footer .container {
        max-width: 320px;
    }

    .page_footer .container .copyright {
        display: block;
        position: relative;
        top: 16px;
        left: 0;
        right: 0;
        height: 30px;
        margin: 0 auto;
        text-align: center;
    }

    .page_footer .container .email {
        display: block;
        top: 15px;
        position: relative;
        left: 0;
        right: 0;
        height: 30px;
        margin: 0 auto;
        text-align: center;
        height: 30px;
    }

    #gallery {
        height: 580px;
        position: relative;
    }

    #gallery .gallery-wrap {
        position: absolute;
        top: 169px;
        width: 100%;
        max-width: 320px;
        margin-top: 0;
    }

    #gallery .item {
        height: 257px;
        width: 320px;
        padding: 20px 15px;
        background-color: #252323;
    }

    #gallery .item .title {
        display: none;
    }

    a.top {
        height: 30px;
        width: 30px;
        right: 10px;
        bottom: 30px;
    }

}
