{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
        body {
            text-align: center;
            font-size: 34px;
            padding-top: 10px;

        }
        .open .opendate {
            font-size: 1.1em;
	    text-decoration: underline;
        }
	.remain {
	    margin-top: 10px;
	}
        .remain #clock {
            margin-top: 5px;
	    font-size: 0.9em;
        }
	hr {
	    max-width: 500px;
	}
    </style>
</head>
<body>
    <p class="open">
        Мы ждем Вас <span class="opendate">{{ start_date }}</span>.
    </p>
    <hr>
    <p class="remain">
        Осталось: <br> <strong id="clock"></strong>.
    </p>
    {{ sd }}
    <br>Site.objects.get_current().domain: {{ d }}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#clock').countdown("{{ start_date }}", function(event) {
                $(this).html(event.strftime('%D д., %H:%M:%S'));
            });
        });
    </script>
</body>
</html>
